# Copy to .env and adjust as needed
DATABASE_URL=postgres://postgres:postgres@localhost:5433/mahjong_jet_lag
DATABASE_URL_TEST=postgres://postgres:postgres@localhost:5433/mahjong_jet_lag_test
NODE_ENV=development
PORT=3001
JWT_SECRET=140f6e6e6a109da719f37d133ceeaae00459b3c19d291d20077b10c6081954fd
JWT_EXPIRES_IN=7d
